{%extends 'base.html'%}
{%block title%}Contact Us{%endblock%}
{% load static %}

{% block content %}

<div class= "mt-5 p-8 md:p-12">
    <div class="flex flex-col md:flex-row gap-8">
        <div class="flex flex-col flex-1">
            <h1 class="text-3xl font-bold mt-2">Contact Us</h1>
            {% comment %} <p class="mt-4 text-gray-600 leading-relaxed">...</p> {% endcomment %}
            
            <div class="flex mt-20 items-center gap-4 shadow-lg hover:shadow-xl transition">
                <div class="bg-green-700 p-0.5 rounded-md">
                    <img src="{% static 'images/contact/img1.jpeg' %}"class="w-[100px] h-[100px]" alt="sajjad Attari" />
                </div>
                <div>
                    <h3 class="font-semibold text-2xl">Sajjad Attari</h3>
                    <h4 class="text-gray-400 mt-1">0300-0000000</h4>
                </div>
            </div>
            
            <div class="flex mt-10 items-center gap-4 shadow-lg hover:shadow-xl transition">
                <div class="bg-green-700 p-0.5 rounded-md">
                    <img src="{% static 'images/contact/img1.jpeg' %}"class="w-[100px] h-[100px]" alt="sajjad Attari" />
                </div>
                <div>
                    <h3 class="font-semibold">Sajjad Attari</h3>
                    <h4 class="text-gray-400 mt-1">0300-0000000</h4>
                </div>
            </div>
        </div>
        
        
        <div class="flex flex-col flex-1 items-center">
            <h4 class="text-3xl font-bold text-black/60 mb-10">Get in Touch with Us</h4>
            <div class="bg-green-800 p-6 rounded-xl w-full md:w-96 shadow-lg hover:shadow-xl transition">
                <div class="mb-6">
                    <label class="sr-only">Your Name</label>
                    <input type="text" placeholder="Your Name" class="w-full px-4 py-2 bg-white rounded-md focus:outline-none focus:ring-2 focus:ring-green-500">
                </div>
                <div class="mb-6">
                    <label class="sr-only">Mobile No.</label>
                    <input type="text" placeholder="Mobile No." class="w-full px-4 py-2 bg-white rounded-md focus:outline-none focus:ring-2 focus:ring-green-500">
                </div>
                <div class="mb-6">
                    <label class="sr-only" for="message">Your Message</label>
                    <textarea id="message" placeholder="Message" class="w-full px-4 py-2 bg-white rounded-md focus:outline-none focus:ring-2 focus:ring-green-500" rows="4"></textarea>
                </div>

                <button class="w-full bg-green-500 hover:bg-green-600 text-white font-medium py-2 rounded-md transition-colors">
                Send Message
                </button>

            </div>
            
        </div>
    </div>
    
</div>

{% endblock%}